.PersonaForm button{
    background-color: rgb(9, 106, 231);
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
}

.PersonaForm button:hover{
    background-color: rgb(75, 148, 243);
}

.PersonaForm input[type="text"]{
    padding: 10px;
}